html{
  margin: 0;
}

body{
  margin: 0;
  background-image: url("http://files.linkenfest.co.uk/site_background_png.png");
  background-size: cover;
}

img.main-logo{
  height: 150;
  width: 150;  
  
  top: 25px;
  left: 25px;
  position: absolute;
}

div.links{
  float: left;
  position: absolute;
  left: 0;
  top: 180;
  padding-top: 10px;
  width: 175;
  
  font-size: 30;
}

div.signInWidget{
  float: right;

  position: absolute;
  top: 15;
  right: 25;
}

div.mainBodyContainer{
  float: left;
  width: calc( 100% - 250px );

  position: absolute;
  left: 200;
  top:  100;
}

div.productImageContainer{
  float: left;

  padding-left: 20px;
  width: 200px;
  height: 200px;
}

div.productDetails{
  float: left;
  padding-left: 20px;
  width: 800;
  height: 200;
  overflow: hidden;
}

div.productOptions{
  float: right;

  position: absolute; 
  right: 20;
  bottom: 0;
}

input.signInWidgetControls{
  height: 35;
  width:  185;
  font-size: 25;
}

button.signOutButton{
  height: 35;
  width:  185;
  font-size: 25;
}

p.wholeWidth{
  width: 100%;	
}

.noMargin{
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

a.pageLink{
  display: block;

  margin-top:    10;
  margin-bottom: 10;
}
