html{
  margin: 0;
}

body{
  margin: 0;
  background-image: url("https://files.linkenfest.co.uk/site_background_png.png");
  background-size: cover;
}

img.main-logo{
  height: 150;
  width: 150;  
  
  top: 25px;
  left: 25px;
  position: absolute;
}

img.headlineAct{
  width: 100%;
}

img.largeAct{
  width: 60%;
}

div.fullWidth{
  width: 100%;
}

div.halfWidth{
  float: left;
  width: 50%;
}

div.links{
  float: left;
  position: absolute;
  left: 0;
  top: 180;
  padding-top: 10px;
  width: 175;
  
  font-size: 30;
}

div.hidden{
  display: none;
}

div.signInWidget{
  float: right;

  position: absolute;
  top: 15;
  right: 25;
}

div.mainBodyContainer{
  float: left;
  width: calc( 100% - 250px );

  position: absolute;
  left: 200;
  top:  100;

  overflow-x: hidden;
  overflow-y: scroll;

  max-height: 80%;
}

div.productParent{
 width: calc( 100% - 75px );
 padding-left: 25;
 padding-bottom: 25;
 display: inline-block;
}

div.productImageContainer{
  float: left;

  width: 200px;
  height: 200px;
}

div.productDetails{
  float: left;
  padding-left: 20px;
  width: 100%;
  height: 200;
  overflow: hidden;
}

div.orderOptions{
  float: right;
 
  display: inline-block;
  position: relative;
}

div.productOptions{
  float: right;

  position: relative;
  right: 0;
}

div.lineupPoster{
  background-color: white;
  background-image: url('https://files.linkenfest.co.uk/logo_png_transparent.png');
  background-repeat: no-repeat;
  background-position: center;

  height: 700;
  width:  500;
}

input.largeCheckbox{
  height: 35;
  width: 35;
}

input.signInWidgetControls{
  height: 35;
  width:  185;
  font-size: 25;
}

select.productQuantitySelect{
  height: 35;
  width:  185;
  font-size: 25;
}

button.signOutButton{
  height: 35;
  width:  185;
  font-size: 25;
}

button.payNowButton{
  height: 35;
  width:  250;
  font-size: 25;
}

button.largeFormSubmit{
  width: 100%;
  height: 35;
  font-size: 25;
}

p.wholeWidth{
  width: 100%;	
}

p.smallPrint{
  font-size: 15px;
}

.largePara{
  font-size: 25px;
}

.title{
  font-size: 35px;
}

.noMargin{
  margin: 0;
}

.warning{
  color: red;
}

.success{
  color: green;
}

a{
  text-decoration: none;
  color: black;
}

a.pageLink{
  display: block;

  margin-top:    10;
  margin-bottom: 10;
}

table.noBorder{
  border-collapse: collapse;
}

td.tableHeading{
  background-color: black;
  color: white;
  font-size: 30px;

  width: 90px;

  padding-right: 20px;
}

td.noBgTableHead{
  font-size: 30px;

  width: 90px;

  padding-right: 20px;
}

td.itemsList{
  border: 1px solid black;
  font-size: 30px;
}
